{% load cms_tags sekizai_tags %}
{% load compress %}
{% load analytical %}
{% addtoblock "css" %}
{% compress css %}
<link href="{{ STATIC_URL }}css/bootstrap.css" rel="stylesheet">
<link href="{{ STATIC_URL }}yeti/bootstrap.min.css" rel="stylesheet">
<link href="{{ STATIC_URL }}css/bootstrap-responsive.css" rel="stylesheet">
<link href="{{ STATIC_URL }}css/docs.css" rel="stylesheet">
{% load zinnia_tags i18n %}
{% load url from future %}
<link rel="alternate" type="application/rss+xml" title="{% trans "RSS Feed of latest entries" %}" href="{% url 'zinnia_entry_latest_feed' %}" />
<link rel="alternate" type="application/rss+xml" title="{% trans "RSS Feed of latest discussions" %}" href="{% url 'zinnia_discussion_latest_feed' %}" />
{% endcompress %}
{% endaddtoblock %}

{% addtoblock "js" %}
<script type="text/javascript" src="http://platform.twitter.com/widgets.js"></script>
{% compress js %}
<link href="{{ STATIC_URL }}js/google-code-prettify/prettify.css" rel="stylesheet">
<script src="{{ STATIC_URL }}js/jquery.js"></script>
<script src="{{ STATIC_URL }}js/google-code-prettify/prettify.js"></script>
<script src="{{ STATIC_URL }}js/bootstrap-transition.js"></script>
<script src="{{ STATIC_URL }}js/bootstrap-alert.js"></script>
<script src="{{ STATIC_URL }}js/bootstrap-modal.js"></script>
<script src="{{ STATIC_URL }}js/bootstrap-dropdown.js"></script>
<script src="{{ STATIC_URL }}js/bootstrap-scrollspy.js"></script>
<script src="{{ STATIC_URL }}js/bootstrap-tab.js"></script>
<script src="{{ STATIC_URL }}js/bootstrap-tooltip.js"></script>
<script src="{{ STATIC_URL }}js/bootstrap-popover.js"></script>
<script src="{{ STATIC_URL }}js/bootstrap-button.js"></script>
<script src="{{ STATIC_URL }}js/bootstrap-collapse.js"></script>
<script src="{{ STATIC_URL }}js/bootstrap-carousel.js"></script>
<script src="{{ STATIC_URL }}js/bootstrap-typeahead.js"></script>
<script src="{{ STATIC_URL }}js/bootstrap-affix.js"></script>
<script src="{{ STATIC_URL }}js/application.js"></script>
{% endcompress %}
{% endaddtoblock %}
<!DOCTYPE html>
<html lang="en">
  <head>
    {% analytical_head_top %}
    <meta charset="utf-8">
    <title>{{ request.current_page.get_title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="Rodrigo Prior Bechelli">
    <meta name="keywords" content="{% block meta-keywords %}{% endblock %}" />
    <meta name="description" content="{% block meta-description %}{% endblock %}" />

    <!-- block css static-->
    {% render_block "css" %}

    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Le fav and touch icons -->
    <link rel="shortcut icon" href="{{ STATIC_URL }}ico/favicon.ico">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="{{ STATIC_URL }}ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="{{ STATIC_URL }}ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="{{ STATIC_URL }}ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="{{ STATIC_URL }}ico/apple-touch-icon-57-precomposed.png">
    {% analytical_head_bottom %}
  </head>
  <body data-spy="scroll" data-target=".bs-docs-sidebar">
    {% analytical_body_top %}
    {% cms_toolbar %}

    <!-- Navbar
    ================================================== -->
    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="brand" href="/">bechelli.org</a>
          <div class="nav-collapse collapse">
                {% load menu_tags %}
                <ul class="nav">
                    {% show_menu 0 100 100 100 %}
                    <li class="dropdown">
                      
                        <a class="dropdown-toggle" data-toggle="dropdown"  href="#">{% trans "language" %} <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                          <li>{% language_chooser %}</li>
                        </ul>
                      
                    </li>
                </ul>
          </div>
        </div>
      </div>
    </div>



{% block _banner %}{% endblock %}



<div class="container">

        {% block _content %}{% endblock %}

</div>

    <!-- Footer
    ================================================== -->
    <footer class="footer">
      <div class="container">
        {% block footer %}{% endblock %}
      </div>
    </footer>

    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    {% render_block "js" %}
    {% analytical_body_bottom %}
  </body>
</html>
